<h1 style="text-align: center;">Find Users</h1>
<div class="wrapper"><div class="ff">
<%=form_with(url: find_user_path, local: true, method: "get") do |form|%>
  <div class="form-group">
    <%= form.text_field :username, placeholder: "Username", class: "field" %>
  </div>

  <div class="actions">
    <%= form.submit "Find User", class: "btn btn-primary"%>
  </div>
<% end %>
<%if params[:username]%>
	<%user = User.find_by(username: params[:username])%>
	<%if user %><% controller.redirect_to ext_profile_path(id: user.id)%>
		<%else%>
		<%controller.redirect_to find_user_path, alert: "User not Found"%>
		<%end%>
<%end%>
<%= link_to 'Back', root_path%>
</div>
</div>